<header>

    <div class="inner">
        <div class="head">
            <a href="/">Descode</a>
        </div>

        <% if(locals.user){ %>
            <div class="search_conatiner">
                <div class="search_bar">
                    <i class="fas fa-search"></i>
                    <input type="search" name="search" class="search_input" placeholder="Seach Descode" autocomplete="off">
                </div>

                <div class="search_results">
                    <div class="search_item">
                        <div>
                            <img class="rounded float-left m-2" width="60" src="/images/no_profile.jpg" alt="">
                        </div>
                        <div class="search_info">
                            <div> <strong>Sagar Garg</strong></div>
                            <div><small>sagargupta1417@gmail.com</small></div>
                        </div>
                    </div>
                    <div class="search_item">
                        <div>
                            <img class="rounded float-left m-2" width="60" src="/images/no_profile.jpg" alt="">
                        </div>
                        <div class="search_info">
                            <div> <strong>Sagar Garg</strong></div>
                            <div><small>sagargupta1417@gmail.com</small></div>
                        </div>
                    </div>
                </div>
            </div>
            

        <div class="head-container">

            <% if(locals.user.verifyUser === true){ %>
            <div class="text chaticon">
                <a href="/messages/allchats" style="color: white;">
                    <i class="far fa-comment-alt"></i>
                </a>
            </div>

            <div class="text">
                <a href="/users/profile/<%= locals.user.id %>">
                    <%= user.name %>
                </a>
            </div>
            <% } %>

            <div class="text">
                <a href="/users/sign-out">Sign Out</a>
            </div>
        </div>

        <% }else{ %>
        <div class="head-container">
            <div class="text">
                <a href="/users/sign-in">Sign In</a>
            </div>
            <div class="text">
                <a href="/users/sign-up">Sign Up</a>
            </div>
        </div>

        <% } %>
    </div>

    <% if(locals.user && locals.user.verifyUser === true){ %>
    <div class="bar"></div>
    <% } %>

</header>