header{
   position: fixed;
   z-index: 2;

   .search_conatiner{
        position: absolute;
        z-index: 4;
        height: 30px;
        width: 50%;
        top: 15px;
        left: 23%;
       
        .search_bar{
            background: white;
            border: 1px solid black;
            border-radius: 15px;
            border-bottom: none;
            height: 100%;

            i{
                color: darkgray;
                position: absolute;
                top: 9.5px;
                left: 7px;
            }

            input{
                border-radius: 15px;
                padding: 15px;
                padding-left: 30px;
            }

            input:focus{
                outline: none;
            }

            .search_input{
                width: 100%;
                height: 100%;
                border: none;
            }
        }

        .searchstyle{
            border-bottom-right-radius:0px;
            border-bottom-left-radius: 0px;
        }
        
        .search_results{
            display: none;
            height: auto;
            min-height: 100px;
            max-height: 90vh;
            overflow-y: auto;
            background: white;
            border: 1px solid grey;
            border-top: none;
            border-bottom-right-radius:15px;
            border-bottom-left-radius: 15px;
            padding: 15px;
            -webkit-box-shadow: -1px 2px 20px 0px rgba(0,2,0,0.5);
            -moz-box-shadow: -1px 2px 20px 0px rgba(0,2,0,0.5);
            box-shadow: -1px 2px 20px 0px rgba(0,2,0,0.5);

            .search_item{
                margin: 5px 0px 5px 0px;
                height: 80px;
                width: 100%;
                border: 1px solid grey;
                border-radius: 10px;
                color: black;

                .search_info{
                    margin-top: 10px;
                }
            }
        }
   }

    .inner{
        height: 60px;
        width: 98.7vw;
        display: flex !important;
        flex-wrap: nowrap;
        justify-content: space-between;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 100%, rgb(4, 56, 116) 100%);
        color: white; 
    
        .head{
        margin-top: 5px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
        font-size: 30px;
        font-weight: bolder;

            a{
                text-decoration: none;
                color: white;
            }
        }

        .head-container{
            display: flex;
            flex-wrap: wrap;
            padding: 10px;
            margin-top: 16px;
            margin-right: 10px;
            font-family: Arial, Helvetica, sans-serif;

            .chaticon{
                padding-top: 5px;
                padding-right: 5px;
            }

            .chaticon i:hover{
                cursor: pointer;
            }
    
            .text{
                margin-left: 10px;
                text-transform: capitalize;
    
                a{
                    text-decoration: none;
                    color: white;
                }
    
                a:hover{
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        
        }
    
    }

    .bar{
        height: 25px;
        background-color: #eeeeee;
    }
    
}


@media only screen and (max-width: 420px) {


    .inner{
        width: 100vw !important;
    }

    .bar{
        height: 10px !important; 
    }

    .head{
        font-size: 20px !important;
        padding-bottom: 0px !important;
        padding-top: 16px !important;
    }
}

@media only screen and (max-width: 400px) {

    .head-container{
        margin-top: 12px !important;
    }

    .head{
        font-size: 16px !important;
        padding-bottom: 0px !important;
        padding-top: 18px !important;
    }
}


@media only screen and (max-width: 320px) {

    .head{
        font-size: 18px !important;
        padding-bottom: 0px !important;
        padding-top: 20px !important;
    }

}