li{
    list-style: none;
    margin-top: 10px;

    .card-text{
        white-space: pre-wrap;  
    }
    
    .post{
        max-width: 550px;
    }

    .coment-cont{
        position: relative;

        .c-input{
            width: 80%;
            min-height: 60px;
            display: inline-block;
        }
    
        .s-btn{
            width: 15%;
            position: absolute;
            right: 5px;
            top: 10px;
        }
    }

   

    .dropdown-toggle::after {
        content: none;
        display: none;
    }

    .small{
        font-size: x-small !important;
    }

    .card-post{
        padding-bottom:10px !important;
        padding-top:10px !important;

        .comments{
            float: right;
            margin-right: 10px;
        }
    }
}



@media only screen and (max-width: 320px) {

   .email{
       font-size: small;
   }

}