#layout-main {
  background-color: #eeeeee; }

.OTP_VERI {
  background-image: url(../images/15844.png);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .OTP_VERI .card {
    text-align: center;
    padding: 30px;
    box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .OTP_VERI .card .heading {
      font-size: x-large; }
    .OTP_VERI .card .OTP_INPUT {
      border: none;
      background: transparent;
      border-bottom: 1px solid lightgray;
      text-align: center; }
    .OTP_VERI .card .OTP_INPUT:focus {
      outline: none; }
    .OTP_VERI .card .s-btn {
      width: 100%;
      background: transparent;
      border-radius: 1.5rem;
      border: 1px solid #038ECA;
      padding: 1%; }
    .OTP_VERI .card .s-btn:hover {
      border: none;
      color: white;
      background: radial-gradient(circle, #3cd7e3 0%, #465ffc 100%);
      padding: 1.2%; }

#home-container {
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: space-between; }
  #home-container .empty {
    width: 240px; }
    #home-container .empty .inner {
      position: fixed;
      height: 400px;
      width: 260px; }
    #home-container .empty .cover-picture {
      height: 80px;
      width: 100%;
      background: linear-gradient(14deg, #22c1c3 27%, #fdbb2d 90%); }
    #home-container .empty .locals-user-link {
      margin: auto;
      margin-top: -35px;
      margin-bottom: 5px;
      color: black;
      border-bottom: 1px solid lightgray; }
      #home-container .empty .locals-user-link img {
        margin: auto;
        border: 2px solid white; }
    #home-container .empty .friendlist {
      padding: 10px 25px 10px 25px;
      text-transform: capitalize; }
      #home-container .empty .friendlist .length {
        text-transform: lowercase;
        float: right; }
  #home-container .txt-a1 {
    white-space: pre-wrap;
    overflow-wrap: break-word; }
  #home-container .posts {
    max-width: 500px; }
    #home-container .posts .posts-size {
      max-width: 500px; }
  #home-container #user-friends {
    text-transform: capitalize;
    width: 30%;
    padding: 10px; }
    #home-container #user-friends .inner {
      width: 28%;
      height: 80vh;
      position: fixed;
      overflow-y: scroll; }
      #home-container #user-friends .inner .friends {
        height: 260px;
        border-bottom: 1px solid lightgray;
        margin-bottom: 30px; }
      #home-container #user-friends .inner .box-size {
        height: 260px;
        overflow-y: scroll; }
      #home-container #user-friends .inner .box-size::-webkit-scrollbar {
        display: none; }
      #home-container #user-friends .inner .users {
        margin-top: 4%; }
    #home-container #user-friends .inner::-webkit-scrollbar {
      display: none; }
  #home-container a:hover {
    text-decoration: none; }

.welcome {
  height: auto; }
  .welcome #carouselExampleCaptions {
    top: 0px !important;
    width: 100% !important;
    height: 400px !important;
    margin: auto; }
    .welcome #carouselExampleCaptions #color-change {
      color: white; }
  .welcome .carousel-inner {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    margin: auto !important; }
  .welcome #flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .welcome #flexbox .card {
      box-shadow: 3px 5px 10px black; }
    .welcome #flexbox .card-name {
      font-size: large; }
  .welcome #sign {
    text-align: center;
    height: 500px;
    background-image: url("../images/back-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0px; }
    .welcome #sign h1 {
      margin: 30px 0px;
      color: #e5edf2; }
    .welcome #sign .signed {
      margin: 50px 20px;
      width: 100px;
      width: 100px;
      background-color: transparent;
      border: none;
      border: 1px solid white;
      color: white; }
    .welcome #sign .signed:focus {
      outline: none; }
    .welcome #sign .signed:hover {
      cursor: pointer; }
  .welcome .welcome_text {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50%;
    left: 40%; }
    .welcome .welcome_text .underline {
      margin-left: 60px; }

@media only screen and (max-width: 882px) {
  .empty {
    display: none; } }

@media only screen and (max-width: 1140px) {
  #user-friends {
    display: none; }
  #home-container {
    justify-content: space-around; } }

@media only screen and (max-width: 420px) {
  #sign h1 {
    font-size: x-large; }
  .welcome_text {
    left: 25% !important;
    color: black !important; }
    .welcome_text span {
      display: block; }
    .welcome_text .underline {
      margin-left: -20px !important; }
  .posts-size {
    width: 95vw !important;
    margin: 0px !important; }
  #home-container {
    padding-top: 3.5% !important; } }
