#layout-main {
  background-color: #eeeeee; }

.container {
  width: 100vw;
  padding: 2px; }

.messaging {
  padding: 25px 0 0 0; }

.inbox_msg {
  display: flex;
  flex-wrap: nowrap;
  height: 80vh;
  border: 1px solid #c4c4c4;
  overflow: hidden;
  position: relative; }
  .inbox_msg .inbox_people {
    background: #f8f8f8;
    overflow: hidden;
    width: 30%;
    border-right: 1px solid #c4c4c4; }
    .inbox_msg .inbox_people .headind_srch {
      padding: 10px 29px 10px 20px;
      overflow: hidden;
      border-bottom: 1px solid #c4c4c4; }
      .inbox_msg .inbox_people .headind_srch .recent_heading {
        width: 40%; }
        .inbox_msg .inbox_people .headind_srch .recent_heading h4 {
          color: #05728f;
          font-size: 21px;
          margin: auto; }
    .inbox_msg .inbox_people .inbox_chat {
      height: 72vh;
      overflow-y: scroll; }
      .inbox_msg .inbox_people .inbox_chat .chat_list {
        border-bottom: 1px solid #c4c4c4;
        margin: 0;
        padding: 0px 16px 10px; }
        .inbox_msg .inbox_people .inbox_chat .chat_list .chat_people {
          overflow: hidden;
          padding: 12px;
          display: flex;
          flex-wrap: nowrap;
          align-items: center; }
          .inbox_msg .inbox_people .inbox_chat .chat_list .chat_people .chat_ib {
            padding-top: 5px;
            padding-left: 10px;
            width: 88%; }
            .inbox_msg .inbox_people .inbox_chat .chat_list .chat_people .chat_ib h5 {
              text-transform: capitalize;
              font-size: 15px;
              color: #464646;
              margin: 0 0 8px 0; }
      .inbox_msg .inbox_people .inbox_chat .chat_list:hover {
        cursor: pointer;
        background: #ebebeb; }
    .inbox_msg .inbox_people .inbox_chat::-webkit-scrollbar {
      display: none; }
  .inbox_msg .message_box_container {
    width: 70%;
    position: relative; }
    .inbox_msg .message_box_container .chat_header {
      width: 100%;
      height: 65px;
      box-sizing: border-box;
      background: #05728f none repeat scroll 0 0;
      padding: 7px;
      display: flex;
      align-items: center; }
      .inbox_msg .message_box_container .chat_header .back_button {
        color: white;
        padding-right: 10px; }
        .inbox_msg .message_box_container .chat_header .back_button i {
          font-size: xx-large; }
      .inbox_msg .message_box_container .chat_header .name {
        padding-left: 15px;
        text-transform: capitalize;
        color: white; }
    .inbox_msg .message_box_container .mesgs {
      padding: 5px 15px 0 15px;
      background: white;
      width: 100%;
      height: 88%; }
      .inbox_msg .message_box_container .mesgs .msg_history {
        height: 58vh;
        overflow-y: auto; }
        .inbox_msg .message_box_container .mesgs .msg_history .outgoing_msg {
          margin: 10px 0 10px;
          display: flex;
          justify-content: flex-end; }
          .inbox_msg .message_box_container .mesgs .msg_history .outgoing_msg .sent_msg {
            max-width: 55%; }
            .inbox_msg .message_box_container .mesgs .msg_history .outgoing_msg .sent_msg p {
              background: #05728f none repeat scroll 0 0;
              border-radius: 3px;
              font-size: 14px;
              margin: 0;
              margin-right: 10px;
              color: #fff;
              padding: 10px 10px 10px 12px;
              width: fit-content;
              word-break: break-all; }
        .inbox_msg .message_box_container .mesgs .msg_history .incoming_msg {
          margin-bottom: 10px;
          display: flex;
          flex-wrap: nowrap;
          align-items: center; }
          .inbox_msg .message_box_container .mesgs .msg_history .incoming_msg .received_msg {
            padding: 0 0 0 10px;
            vertical-align: top; }
            .inbox_msg .message_box_container .mesgs .msg_history .incoming_msg .received_msg .received_withd_msg {
              max-width: 100%; }
              .inbox_msg .message_box_container .mesgs .msg_history .incoming_msg .received_msg .received_withd_msg p {
                background: #ebebeb;
                border-radius: 3px;
                color: #646464;
                font-size: 14px;
                margin: 0;
                padding: 10px 10px 10px 12px;
                width: fit-content;
                word-break: break-all; }
      .inbox_msg .message_box_container .mesgs .msg_history::-webkit-scrollbar {
        display: none; }
      .inbox_msg .message_box_container .mesgs .type_msg {
        border-top: 1px solid #c4c4c4;
        position: relative; }
        .inbox_msg .message_box_container .mesgs .type_msg .input_msg_write input {
          background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
          border: medium none;
          color: #4c4c4c;
          padding: 0px 20px 0px 20px;
          font-size: 15px;
          min-height: 48px;
          width: 100%; }
        .inbox_msg .message_box_container .mesgs .type_msg .input_msg_write input:focus {
          outline: none; }
        .inbox_msg .message_box_container .mesgs .type_msg .input_msg_write .msg_send_btn {
          background: #05728f none repeat scroll 0 0;
          border: medium none;
          border-radius: 50%;
          color: #fff;
          cursor: pointer;
          font-size: 17px;
          height: 33px;
          position: absolute;
          right: 4px;
          top: 8px;
          width: 33px; }
        .inbox_msg .message_box_container .mesgs .type_msg .input_msg_write .msg_send_btn:focus {
          outline: none; }

.active_chat {
  background: #ebebeb; }

@media only screen and (min-width: 430px) {
  .inbox_people {
    display: block !important; }
  .back_button {
    display: none !important; } }

@media only screen and (max-width: 420px) {
  .messaging {
    padding-top: 8px; }
    .messaging .inbox_msg {
      height: 550px; }
      .messaging .inbox_msg .inbox_people {
        position: absolute;
        z-index: 1;
        width: 100vw;
        height: 550px;
        border-bottom: 1px solid grey; }
      .messaging .inbox_msg .message_box_container {
        width: 100%; }
        .messaging .inbox_msg .message_box_container .msg_history {
          height: 90%; }
          .messaging .inbox_msg .message_box_container .msg_history .sent_msg {
            max-width: 75vw !important; }
          .messaging .inbox_msg .message_box_container .msg_history .received_withd_msg {
            max-width: 75vw !important; } }

@media (min-width: 576px) {
  .container {
    max-width: 700px; } }

@media (min-width: 768px) {
  .container {
    max-width: 90vw; } }
